{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Amphi API v0.0.1</h1>
            </div>
        </div>
    </div>
{% endblock %}
